html{
height: 100%;
}
/*centering the page*/
.content {
    max-width: 75%;
    margin: auto;
    background:white;
    padding: 10px;
}

/* Background-color page */
body{ 
background: #555;
}

/* Navigation bar */
.navigationbar{
height:100px;
width:75%;
padding: 10px;
border: 10px solid #ff8f57;;
margin: 0;
}

/*Babani's logo*/
h1#homepage{
color: #ff8f57;
}

/*Links */
li{
color: white;
float: left;
}
/*Image on the homepage, chixplate*/
.chixplate{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
float: left;
}

/*Image of babani's contactpage, outsidephoto*/
.outsidephoto{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
float: left;
}

/* First paragraph, home page*/
.p1 {
float:inherit;
background: white;
height:100%;
width:75%;
padding: 10px;
border: 10px solid #ff8f57;;
margin: 0;
}

/*Table Area*/
.p2 {
float:inherit;
background: black;
height:100%;
width:75%;
padding: 10px;
border: 10px solid black;
margin: 0;
color: white;
}

/* the Table */
table {
float:inherit;
background: black;
height:100%;
width:75%;
padding: 10px;
border: 10px solid black;
margin: 0;
color: white;
table-layout:fixed;
}

table#th{
width: 33%;
}

table#td{
width: 33%;
}



