html{
height: 100%;
}
/*centering the page*/
.content {
    max-width: 75%;
    margin: auto;
    background:white;
    padding: 10px;
}

.navBar {
  font-size: 20px;
}
.navBar a:hover {
  background-color: #ffff99;
}

/* Background-color page */
body{
background: #555;
}

/* Navigation bar */
.navigationbar{
height:100px;
width:75%;
padding: 10px;
border: 10px solid #ff8f57;;
margin: 0;
}

/*Babani's logo*/
h1#homepage{
color: #ff8f57;
}

/*Links */
li{
color: white;
float: left;
}
/*Image on the homepage, chixplate*/
.chixplate{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
float: left;
}

/*Image of babani's contactpage, outsidephoto*/
.outsidephoto{
display: block;
margin-left: auto;
margin-right: auto;
width:100%;
height:auto;
float: left;
}

/* First paragraph, home page*/
.p1 {
float:inherit;
background: white;
height:100%;
width:75%;
padding: 10px;
border: 10px solid #ff8f57;;
margin: 0;
}

/*Table Area*/
.p2 {
float:inherit;
background: black;
height:100%;
width:75%;
padding: 10px;
border: 10px solid black;
margin: 0;
color: white;
}

/* the Table */
table {
float:inherit;
background: black;
height:100%;
width:75%;
padding: 10px;
border: 10px solid black;
margin: 0;
color: white;
table-layout:fixed;
}
th{
    text-align: left;
}
table#th{
width: 33%;
}

table#td{
width: 33%;
}

input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.contactContainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width:75%;
    box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* menu button modifications */
.menuBtn1,.menuBtn2,.menuBtn3,.menuBtn4,.menuBtn5,.menuBtn6,.menuBtn7 {
background-color: white; /* Green */
border: none;
color: black;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
width: 500px;
display: block;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.menuBtn1  {
background-color: white;
color: orange;
border: 2px solid orange;
font-size: 20px;
font-weight: bold;
}

.menuBtn1:hover {
background-color: orange;
color: white;
}

.menuBtn2  {
background-color: white;
color: orange;
border: 2px solid orange;
font-weight: bold;
}

.menuBtn2:hover {
background-color: orange;
color: white;
}

.menuBtn3  {
background-color: white;
color: orange;
border: 2px solid orange;
font-weight: bold;
}

.menuBtn3:hover {
background-color: orange;
color: white;
}

.menuBtn4  {
background-color: white;
color: orange;
border: 2px solid orange;
font-weight: bold;
}

.menuBtn4:hover {
background-color: orange;
color: white;
}

.menuBtn5  {
background-color: white;
color: orange;
border: 2px solid orange;
font-weight: bold;
}

.menuBtn5:hover {
background-color: orange;
color: white;
}

.menuBtn6  {
background-color: white;
color: orange;
border: 2px solid orange;
font-weight: bold;
}

.menuBtn6:hover {
background-color: orange;
color: white;
}

.menuBtn7  {
background-color: white;
color: orange;
border: 2px solid orange;
font-weight: bold;
}

.menuBtn7:hover {
background-color: orange;
color: white;
}

#menuHeading {
  display: inline-block;
  /* border: red 1px solid; */
  font-size: 35px;
  font-family: 'Charmonman', cursive;
  font-style: italic;
  color: grey;
}

#M-items {
  color: #ebebe0;
  background-color: #e1e1d0;
  font-size: 20px;
}
/* end of button modifications */

/* menu page modifications */
.MainBody{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
  /* display: flex; */
}
#M-items {
  color: black;
}
